input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.tog{
    margin-top:-15% !important;
}
.btn .btn-info{
    margin-left:25% !important;
}
.navbar-brand{
    font-size: 21px;
    margin-top:10px !important;
}