<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand"><i routerLink="/productOrders" class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;"></i> Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Sale Orders</a>
      </div>
      <button class="navbar-toggler tog" type="button" (click)="openMenu()" data-toggle="collapse" aria-controls="navigation-index"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-ter-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
  </div>
</nav>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-primary">
            <h4 class="card-title mt-0">Sale Orders ({{Orders.length}})</h4>
            <p class="card-category"> Here is a confirmed orders by users</p>
          </div>
          <div class="card-body">
          <div class="col-md-6" *ngIf = "router.url === '/confirmorders'">
            Filter 
             <select name="admin" [(ngModel)]="orderType" (change)="changeType('dropdown')">
                <option value='select'>--Select--</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
                <option value="custom">Custom</option>
             </select>
             <input *ngIf = "orderType === 'custom'"  (datesUpdated) = "changeDate()" type="text" ngxDaterangepickerMd startKey="start" endKey="end" 
              [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
             [(ngModel)]="dateRangeFilter">
             <button name="filter" class = "btn btn-info" (click) = "filterRecords()">Filter</button>
              <button name="filter" class = "btn btn-danger" (click) = "reset()">Reset</button>
           </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <tr>
                  <th style="width:150px;">
                    S. No.
                  </th>
                  <th style="width:200px">
                    Bill Id
                  </th >
                  <th style="width:200px">
                     Quantity
                  </th>
                  <th style="width:150px;text-align: right  ">
                   Total Amount
                  </th>
                  <th style="text-align: center">
                    View Bill
                   </th>
                </tr></thead>
                <tbody>
                  <tr *ngFor="let user of Orders| paginate: { itemsPerPage: 10, currentPage: p }; index as i;">
                    <td style="padding: 0px 0px 0px 25px">
                      {{(i+1) + ((p-1) * 10)}}
                    </td>
                    <td>
                      {{user.bill_id}}
                    </td>
                    <td  style="padding: 0px 0px 0px 25px">
                      {{user.totalcount}}
                    </td>
                    <td  style="text-align: right">
                      {{user.total_amount}}
                    </td>
                    <td style="text-align: center">
                     <!--  <span >
                        <a (click)="printBill(i)" style="cursor: pointer;">
                        <i style="font-size: medium;"class="material-icons">print</i>
                        </a>
                    </span>  -->
                     <span  class="mat-button-wrapper"><i (click)="openDialogOrders(i)" style="font-size: medium;"
                            class="material-icons">visibility</i>
                      </span> 
                    </td>
                  </tr>
                
                </tbody>
               
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>