`
<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand"><i routerLink="/order" class="fa fa-arrow-left"
            style="font-size:20px;cursor: pointer;"></i> Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order</a>
      </div>
      <button class="navbar-toggler tog" type="button" (click)="openMenu()" data-toggle="collapse"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
    </div>
  </nav>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card" *ngIf="role === 'Sub Admin' || role ==='non_gst_admin'">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Enter Customer Details</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">

              <label>Customer Name:</label>
              <input type="text" class="form-control" name="customer_name" [(ngModel)]="customer_name"
                (keydown)="validate($event) " autocomplete="off" required maxlength="100" minlength="3" />
              <small style="color: red" *ngIf="nameError == true">Name Should be valid and more than 3
                characters</small> <br>

              <label>Customer Email:</label>
              <input type="email" (keydown)="validate($event)" class="form-control" name="customer_email"
                [(ngModel)]="customer_email" autocomplete="off" />
              <small style="color: red" *ngIf="emailError == true">Email should be valid</small> <br>


              <label>Customer Phone:</label>
              <input type="number" min="0" (keydown)="validate($event)" class="form-control" name="customer_phone"
                [(ngModel)]="customer_phone" autocomplete="off" required />
              <small style="color: red" *ngIf="phoneError == true">Phone number must be valid</small> <br>


              <label>Bill Type</label>
              <select name="bill_type" id="duration" class="form-control" [(ngModel)]="bill_type"
                (change)="changeBilltype($event)" disabled>
                <option value="normal">Normal-Bill</option>
                <option value="exchange">Exchange - Bill</option>
              </select>

              <div *ngIf="bill_type!='normal'">
                <label>Exchange Price</label>
                <input type="number" id="exchange" name="exchange_price" placeholder="Enter the Exchange Amount"
                  [(ngModel)]="exchange_price" (change)="changeExchange($event.target.value)" class="form-control"
                  required autocomplete="off">
                <small style="color: red" *ngIf="exchangeError == true">Exchange amount must be
                  valid</small> <br>
              </div>


              <label>Payment Type:</label>
              <select id="duration" name="duration" class="form-control" [(ngModel)]="payment_mode">
                <option selected="selected" value="0">-- Select --</option>
                <option value="cash">CASH</option>
                <option value="card">CARD</option>
                <option value="google_pay">GOOGLE PAY</option>
                <option value="paytm">PAYTM</option>
              </select>


              <div *ngIf="payment_mode=='cash'">
                <label>Total Amount Received</label>
                <input type="number" name="remaining_balance" placeholder="Enter the Received Amount"
                  [(ngModel)]="remaining_balance" class="form-control" required autocomplete="off"
                  id="remaining_balance">
                <small style="color: red" *ngIf="exchangeError == true"> amount must be valid</small>
                <br>
              </div>
              <!-- Default unchecked -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="disableme" (click)="changetype($event)" id="Rupees"
                  name="defaultExampleRadios">
                <label class="custom-control-label" for="Rupees">Discount By Rupees</label>
              </div>

              <!-- Default checked -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="disableme" (click)="changetype($event)" id="Percentage"
                  name="defaultExampleRadios" checked>
                <label class="custom-control-label" for="Percentage">Discount By Percentage </label>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="role === 'Sub Admin' || role ==='non_gst_admin'">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Place Order</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      S. No.
                    </th>
                    <th>
                      IMEI
                    </th>
                    <th>
                      Brand
                    </th>
                    <th>
                      Model
                    </th>
                    <th>
                      MRP Price
                    </th>
                    <!-- <th *ngIf="role!='non_gst_admin'">
                                            CGST(%)
                                        </th>
                                        <th *ngIf="role!='non_gst_admin'">
                                            SGST(%)
                                        </th>
                                        <th>
                                            Discount
                                        </th> -->
                    <th>
                      Quantity
                    </th>
                    <!-- <th *ngIf="exchange_price!='0'">
                                            Exchange Price
                                        </th> -->
                    <th>
                      Sub Total
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let products of product; let i=index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ products.product_imei }}</td>
                      <td>{{ products.product_brand }}</td>
                      <td>{{ products.product_model }}</td>
                      <td>{{products.original_price | currency:'INR':true }}</td>
                      <!-- <td *ngIf="role!='non_gst_admin'">{{products.sgst}}</td>
                                            <td *ngIf="role!='non_gst_admin'">{{products.cgst}}</td>
                                            <td>{{products.discount}}</td> -->
                      <td>{{ products.product_quantity }}</td>
                      <!-- <td  *ngIf="exchange_price!='0'">{{ exchange_price }}</td> -->
                      <td>{{ products.subTotal | currency:'INR':true}}</td>
                      <td>
                        <a (click)="removeProduct(i)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
                            <path d="M0 0h24v24H0z" fill="none" /></svg>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{ product.length + 1 }}
                      </td>
                      <td>
                        <input type="text" min="0" class="form-control" name="product_imei" id="product_imei"
                          placeholder=" " [(ngModel)]="product_imei" autocomplete="off" [formControl]="IMEI" />
                        <small *ngIf="noImei == true">No Product found</small>
                      </td>
                      <td>
                        <input #name type="text" class="form-control" style="width: 100px;" autocomplete="off"
                          name="searchTerm" placeholder=" " [(ngModel)]="product_value" matInput
                          [formControl]="searchTerm" [matAutocomplete]="auto">
                        <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="change($event.option.value)">
                          <mat-option *ngFor="let books of Brands;let i=index" [value]="books.product_brand">
                            {{ books.product_brand }}
                          </mat-option>
                        </mat-autocomplete>
                      </td>
                      <td>
                        <select id="duration" name="duration" style="width: 100px;" class="form-control"
                          [(ngModel)]="Model" (change)="changePrice($event.target.value)">
                          <option selected="selected" value="0">-- Model --</option>
                          <option [value]="books.product_model" *ngFor="let books of products;let i=index">
                            {{ books.product_model }}
                          </option>
                        </select>
                      </td>
                      <td>
                        {{original_price | currency:'INR':true}}
                      </td>

                      <!-- <td *ngIf="role!='non_gst_admin'">
                                                <input type="number" min="0" class="form-control" name="CGST"
                                                    placeholder=" " [(ngModel)]="cgst" autocomplete="off" />
                                            </td>
                                            <td *ngIf="role!='non_gst_admin'">
                                                <input type="number" min="0" class="form-control" name="SGST"
                                                    placeholder=" " [(ngModel)]="sgst" autocomplete="off" />
                                            </td>
                                            <td>
                                                <input type="number" min="0" class="form-control" name="qty"
                                                    placeholder=" " [(ngModel)]="discount"
                                                    (keyup)="changeDiscount($event)" autocomplete="off" />
                                            </td> -->
                      <td>
                        <input type="number" min="1" id="quantity" class="form-control" name="qty" placeholder=" "
                          [(ngModel)]="qty_value" (keyup)="addProduct($event)" [formControl]="qty" autocomplete="off" />
                        <small *ngIf="max === true">
                          <!-- Mamimum {{mmaximumCount}} quantities -->
                        </small>
                      </td>
                      <!-- <td class="text-primary">
                                                {{ ( discounted_price * qty_value) + ((discounted_price * qty_value) * ((sgst + cgst) /100)) | number :'1.2-2'}}
                                            </td> -->
                      <td>
                        {{subTotal | currency:'INR':true}}
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <!-- <td *ngIf="role!='non_gst_admin'">
                        <label>CGST</label>
                        <input type="number" min="0" class="form-control" name="CGST" (keyup)="changeTotal()"
                          placeholder=" " [(ngModel)]="cgst" autocomplete="off" />
                      </td>
                      <td *ngIf="role!='non_gst_admin'">
                        <label>SGST</label>
                        <input type="number" min="0" class="form-control" name="SGST" (keyup)="changeTotal()"
                          placeholder=" " [(ngModel)]="sgst" autocomplete="off" />
                      </td> -->
                      <td>
                        <label>DISCOUNT</label>
                        <input type="number" min="0" class="form-control" name="qty" placeholder=" "
                          [(ngModel)]="discount" (keyup)="changeTotal()" autocomplete="off" />
                      </td>
                      <td>
                        <h3>Grand Total </h3>
                      </td>
                      <td>
                        {{ total |currency:'INR':true }}
                      </td>
                      <td *ngIf="exchange_price!='0'">
                        <h3>Exchange Price </h3>
                      </td>
                      <td *ngIf="exchange_price!='0'">
                        {{ exchange_price  |currency:'INR':true }}
                      </td>
                      <td *ngIf="remaining_balance!='0'">
                        <h3> Remaining balance </h3>
                      </td>
                      <td *ngIf="remaining_balance!='0'">
                        {{ total - remaining_balance  | currency:'INR':true }}
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <button type="button" (click)="placeOrder()" class="btn btn-primary pull-right">
                          Place Order
                          <div class="ripple-container"></div>
                        </button>
                      </td>
                      <td>
                        <button type="button" (click)="cancelOrder()" class="btn btn-danger pull-right">
                          Cancel Order
                          <div class="ripple-container"></div>
                        </button>
                      </td>
                      <td>
                        <!-- <button  class="btn btn-info pull-right" (click)="print()">print</button>
                                    <div class="ripple-container"></div> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="invoice_container" id="componentID" style="display: none">
        <header style="text-align: center;
      border-bottom: 5px solid #100a6c;">
          <h1 style="font-size: 3.3125rem;
        line-height: 1.15em;font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;">Nusaiba Mobiles</h1>
          <p style="width: 375px;
        margin: 0 auto;
        font: 18px / 24px sans-serif;">
            No.26/151, Dr.Besant road, Ice house, Royapettah Chennai-600014. Ph:
            044 28471119, +91 985432 4444
            <strong style="display: block;">GSTINIUIN: 33AAQFN564IJIZY</strong>
          </p>
        </header>
        <section class="invoice_wrapper">
          <div class="tax_invoice">
            <h2>TAX INVOICE CUM DELIVERY CHALLAN</h2>
            <table>
              <tbody>
                <tr>
                  <td>Date of Invoice :</td>
                  <td>{{dateTime | date: 'dd/MM/yyyy'}}</td>
                  <td>Original for Receipent</td>
                  <td></td>
                </tr>
                <tr>
                  <td>State :</td>
                  <td>TamilNadu</td>
                  <td>Duplicate for Transporter</td>
                  <td></td>
                </tr>
                <tr>
                  <td>State code :</td>
                  <td></td>
                  <td>Triplicate for Supplier</td>
                  <td></td>
                </tr>
                <tr>
                  <td rowspan="3">Branch Address :</td>
                  <td rowspan="3">
                    No.26/151, Dr.Besant road, Ice house Royapettah
                    Chennai-600014.
                  </td>
                  <td>Invoice Time :</td>
                  <td>{{dateTime | date: 'HH:mm'}}</td>
                </tr>
                <tr>
                  <td>Salesperson :</td>
                  <td>{{user}}</td>
                </tr>
                <tr>
                  <td>Branch Contact No :</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="Receipent">
            <span>To,</span>
            <p>{{currentCustomerName}}, {{currentCustomerPhone}}</p>
          </div>
          <div class="bill-details">
            <table>
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Product Name</th>
                  <th>Qty</th>
                  <th>MRP Price</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let products of product; let i=index">
                  <td>{{i + 1 }}</td>
                  <td>{{products.product_brand}} - {{products.product_model}}  {{products.product_color}}
                    <br>
                    {{products.product_Imei}}
                  </td>
                  <td>{{products.product_quantity}}</td>
                  <td>{{products.original_price }}</td>
                  <td>{{products.subTotal |currency:'INR':true}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>SGST 9 %</td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>CGST 9 %</td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>DISCOUNT</td>
                  <td>{{this.discounted_price}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <!-- <td>SUB TOTAL</td> -->
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td>TOTAL</td>
                  <td>{{ total }}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="termsCondition">
            <h3>Terms and conditions</h3>
            <ol>
              <li>
                Mobile,Tablet & Accessories are warranted for a period defines by
                the respective manifactures against defect in material.
              </li>
              <li>
                NusaibaMobiles is not giving the warranty and does not hold out
                any warranty of products sold.
              </li>
              <li>
                Nusaiba Mobiles will not be responsible for any defective /
                deficient or othrewise unsatisfactory products.
              </li>
              <li>
                Any such defective or deficient goods has be repaired only by
                authorized services center of the equipment manufactured.
              </li>
              <li>
                All the terms and conditions of Nusaiba Mobiles apply
              </li>
              <li>
                Freegifts will not be exchanged or convered under any kind of
                warranty.
              </li>
              <li>
                Subject to chennai jurisdiction.
              </li>
              <li>
                Goods once sold cannot be returned or exchanged.
              </li>
            </ol>
          </div>
          <footer>
            <span>Receivers Signature</span>
            <span>Authorized Seal & Signatory</span>
          </footer>
        </section>
      </div>
    </div>
  </div>
</div>