select {
    width: 100%;
    padding: 5px 5px 3px 3px;
    font-size: medium;
    background-color: ghostwhite;
    line-height: 2;
    letter-spacing: 1px;
    option {
        font-size: medium;
        padding: 2px 5px;
        line-height: 3;
    }
}
.productsTable td
{
    border: 1px dashed #999999;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.tog{
    margin-top:-15% !important;
}
.navbar-brand{
    font-size: 21px;
    margin-top:10px !important;
}
body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      ol {
        margin: 0;
      }
      * {
        box-sizing: border-box;
      }
      .invoice_container {
        color: #100a6c;
        position: relative;
        padding: 20px 0;
      }
      .invoice_container::before {
        content: 'Nusaiba Mobiles';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%) rotate(-35deg);
        font-size: 82px;
        font-weight: bold;
        color: #ccc;
        z-index: -1;
        opacity: 0.6;
      }
      .invoice_container header {
        text-align: center;
        border-bottom: 5px solid #100a6c;
      }
      .invoice_container header p {
        width: 375px;
        margin: 0 auto;
        font: 18px / 24px sans-serif;
      }
      .invoice_container header strong {
        display: block;
      }
      .invoice_wrapper {
        border: 1px solid #100a6c;
        margin: 40px 30px;
      }
      .invoice_wrapper div {
        padding: 15px 30px;
        border-bottom: 1px solid #100a6c;
      }
      table {
        width: 100%;

        border-collapse: collapse;
      }
      .tax_invoice table td {
        width: 300px;
        color: #100a6c;
        font: 16px / 20px sans-serif;
      }
      .tax_invoice h2 {
        font: 18px / 24px sans-serif;
        padding-left: 60px;
        margin-bottom: 10px;
      }
      .Receipent p {
        position: relative;
        height: 100px;
      }
      .bill-details {
        padding: 0 !important;
      }
      .bill-details table td,
      .bill-details table th {
        border-left: 1px solid #100a6c;
        color: #100a6c;
        text-align: center;
      }
      .bill-details table tbody tr:first-child {
        height: 150px;
      }
      .bill-details table tr td:nth-child(1),
      .bill-details table tr th:nth-child(1) {
        border-left: 0;
      }
      .bill-details table thead th {
        border-bottom: 1px solid #100a6c;
        padding: 15px 0;
      }
      .bill-details table tfoot td {
        border-top: 1px solid #100a6c;
        border-left: 0;
        padding: 15px 0;
        font-weight: bold;
      }
      .invoice_wrapper footer {
        padding: 50px 50px 5px;
      }
      .invoice_wrapper footer span:last-child {
        float: right;
      }
      .termsCondition {
        font: 500 14px / 22px monospace;
      }     