`<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Settings</a>
      </div>
      <button class="navbar-toggler" type="button" (click)="openMenu()" data-toggle="collapse"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
    </div>
  </nav>
  <div class="content container-fluid">
    <div class="row">
      <div class="card col-sm-4" *ngFor="let setting of settings; let i=index">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">{{setting.setting_type}}</h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div>
              <input type="text" min="0" class="form-control" placeholder={{setting.setting_name}}
                name="setting.setting_name" [(ngModel)]="setting.setting_value" autocomplete="off" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="button" (click)="saveSettings()" class="btn btn-danger pull-right">
          Save
          <div class="ripple-container"></div>
        </button>
      </div>
    </div>
  </div>

</div>