<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" >Dashboard</a>
      </div>
     
      <button class="navbar-toggler tog" type="button" (click)="openMenu()" data-toggle="collapse" aria-controls="navigation-index"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
  </div>
</nav>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon" style="background: linear-gradient(60deg, #1f48ff, #fd9811);">
              <i class="material-icons">add_shopping_cart</i>
            </div>
            <p class="card-category">Products</p>
            <h3 class="card-title">{{counter?.productsCount}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">add_shopping_cart</i><a [routerLink]="['../addProduct']">Add Product</a>
            </div>
          </div>
        </div>
      </div> -->


      <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">money</i>
            </div>
            <p class="card-category">Opening Balance</p>
            <h3 class="card-title">₹ {{opening_balance}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">money</i>
            </div>
            <p class="card-category">Closing Balance</p>
            <h3 class="card-title">₹ {{opening_balance | number: '1.0-2'}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>


        <!-- <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Today's Revenue</p>
              <h3 class="card-title">₹ {{counter?.todayRevenue | number: '1.0-2'}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Last 24 Hours
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">account_balance_wallet</i>
              </div>
              <p class="card-category">Total Amount of  Cash Sales </p>
              <h3 class="card-title">₹ {{counter?.cash | number: '1.0-2'}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">credit_card</i>
                </div>
                <p class="card-category">Total Amount of  Card Sales </p>
                <h3 class="card-title">₹ {{counter?.card | number: '1.0-2'}}</h3>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">phonelink_ring</i>
                  </div>
                  <p class="card-category">Total Amount of  Patym Sales </p>
                  <h3 class="card-title">₹ {{counter?.paytm | number: '1.0-2'}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">monetization_on</i>
                    </div>
                    <p class="card-category">Total Amount of  Google Pay </p>
                    <h3 class="card-title">₹ {{counter?.google_pay | number: '1.0-2'}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                  </div>
                </div>
              </div>

        <!-- 
        <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Super Admin'">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon" style="background: linear-gradient(60deg, #ed4f4c, #fc950d);">
                <i class="material-icons">assignment</i>
              </div>
              <p class="card-category">Confirmed Orders</p>
              <h3 class="card-title">{{ counter?.orderCount | number: '1.0-0' }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Last 24 Hours
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Sub Admin'">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon" style="background: linear-gradient(60deg, #ed4f4c, #fc950d);">
                <i class="material-icons">assignment</i>
              </div>
              <p class="card-category">Orders</p>
              <h3 class="card-title">{{ counter?.orderCount }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">assignment</i><a [routerLink]="['../order']">Place Order</a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Sub Admin'">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Today's Revenue</p>
              <h3 class="card-title">₹ {{todayRevenue | number: '1.0-2'}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                  <a routerLink="../getTodaysSell"><i class="material-icons">date_range</i> Last 24 Hours</a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="role === 'Sub Admin'">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon" style="background: linear-gradient(60deg, #1f48ff, #fd9811);">
                <i class="material-icons">add_shopping_cart</i>
              </div>
              <p class="card-category">Products</p>
              <h3 class="card-title">{{counter?.productsCount}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">add_shopping_cart</i><a [routerLink]="['../addProduct']">Add Product</a>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-lg-4 col-md-6 col-sm-6"  >
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mobile_friendly</i>
            </div>
            <p class="card-category">Mobiles Sold (count)</p>
            <h3 class="card-title"> {{mobiles_sold}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6"  >
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">accessibility</i>
            </div>
            <p class="card-category">Accessories Sold (count)</p>
            <h3 class="card-title"> {{accessories_sold}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

       <div class="col-lg-4 col-md-6 col-sm-6" >
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">settings_applications</i>
            </div>
            <p class="card-category">Services completed (count)</p>
            <h3 class="card-title"> {{services_completed}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

       <div class="col-lg-4 col-md-6 col-sm-6" >
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mobile_screen_share</i>
            </div>
            <p class="card-category">Mobile Sale</p>
            <h3 class="card-title">₹ {{mobile_sales}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

   <div class="col-lg-4 col-md-6 col-sm-6" >
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">accessibility_new</i>
            </div>
            <p class="card-category">Accessories Sale</p>
            <h3 class="card-title">₹ {{accessories_sales}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

  <div class="col-lg-4 col-md-6 col-sm-6"  >
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">settings_backup_restore</i>
            </div>
            <p class="card-category">Services Sales</p>
            <h3 class="card-title">₹ {{services_sales}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>


      </div>
      <div class="row">
      </div>
      <div class="row" style="justify-content: flex-end;">
          <div class="col-md-3"></div>
          <div class="col-md-6">
          Filter 
           <select name="admin" [(ngModel)]="chartType" (change)="changeType()" #Admin="ngModel">
             <option value='select'>--Select--</option>
            <option value="day">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
           </select>
         </div>
         <div class="col-md-3"></div>
       </div>
       <h3>Mobile</h3>
      <div id="chart"></div>
      <h3>Accessories</h3>
      <div id="accessories"></div>
      <h3>Service</h3>
      <div id="service"></div>
      <div class="row" style="justify-content: flex-end;" *ngIf="role === 'Super Admin'">
        <div class="col-md-3"></div>
        <div class="col-md-6">
         Choose to Live Track:
         <select name="admin" [(ngModel)]="Admins" (change)="orderTrack()" #Admin="ngModel">
           <option value='select'>--Select User--</option>
           <option *ngFor="let sub of users" value="{{sub.email}}">{{ sub.name }}</option>
         </select>
       </div>
       <div class="col-md-3"></div>
     </div>
     <div class="row" *ngIf="Admins !== 'select'">
      <div class="card" *ngIf="role === 'Super Admin'">
        <div class="card-header card-header-primary">
         <h4 class="card-title ">Order Tracking</h4>
         <p class="card-category"> Live Order tracking of sub user.</p>
       </div>
       <div class="card-body">
         <div class="table-responsive">
          <table class="table">
           <thead class=" text-primary">
            <th>
             Sr No
           </th>
           <th>
             Product Brand
           </th>
           <th>
              Product Brand
            </th>
           <th>
             Quantity
           </th>
           <th>
             Price
           </th>
           <th>
             Sub Total
           </th>
         </thead>
         <tbody>
          <tr *ngFor="let Order of order; let i=index;">
           <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ Order.product_brand }}
          </td>
          <td>
              {{ Order.product_model}}
            </td>
          <td>
            {{ Order.product_quantity }}
          </td>
          <td>
            {{ Order.price }}
          </td>
          <td class="text-primary">
            {{ Order.subTotal }}
          </td>
        </tr>
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td>Total</td>
         <td>{{ total }}</td>
       </tr>
     </tbody>
   </table>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>