//@import "../node_modules/c3/c3.min.css";
select {
    width: 100%;
    padding: 5px 5px 3px 3px;
    font-size: medium;
    background-color: ghostwhite;
    line-height: 2;
    letter-spacing: 1px;
    option {
        font-size: medium;
        padding: 2px 5px;
        line-height: 3;
    }
}