input { 
    padding: 5px 5px;
    width: 100%;
    font-size: medium;
    color: #000;
    background: #f8f8f8;
}
svg {
    top: 2px;
    left: 90%;
    position: absolute;
    height: auto;
    width: auto;
}
.tog{
    margin-top:-15% !important;
}
.navbar-brand{
    font-size: 21px;
    margin-top:10px !important;
}