input { 
    padding: 5px 5px;
    width: 100%;
    font-size: medium;
    color: #000;
    background: #f8f8f8;
}
svg {
    top: 2px;
    left: 90%;
    position: absolute;
    height: auto;
    width: auto;
}
.tog{
    margin-top:-15% !important;
}
.navbar-brand{
    font-size: 21px;
    margin-top:10px !important;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  .invoice_container {
    color: #100a6c;
    position: relative;
    padding: 20px 0;
  }
  .invoice_container::before {
    content: 'Nusaiba Mobiles';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-35deg);
    font-size: 82px;
    font-weight: bold;
    color: #ccc;
    z-index: -1;
    opacity: 0.6;
  }
  .invoice_container header {
    text-align: center;
    border-bottom: 5px solid #100a6c;
  }
  .invoice_container header img {
    max-width: 300px;
  }
  .invoice_container header p {
    width: 410px;
    margin: 0 auto;
    font: 18px / 24px sans-serif;
  }
  .invoice_container header strong {
    display: block;
  }
  .invoice_wrapper {
    border: 1px solid #100a6c;
    margin: 40px 30px;
  }
  .invoice_wrapper div {
    padding: 15px 30px;
  }
  .reports {
    padding: 0px !important;
  }
  .reports div {
    border: 0;
    padding: 10px 0px;
  }
  .reports span {
    font: bold 18px sans-serif;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  .tax_invoice h2 {
    font: 18px / 24px sans-serif;
    padding-left: 60px;
    margin-bottom: 10px;
  }
  .sale-details {
    padding: 0 !important;
  }
  .sale-details table {
    border: 1px solid #100a6c;
    border-width: 1px 0px 1px 0px;
    margin-bottom: 30px;
  }
  .sale-details table td,
  .sale-details table th {
    border-left: 1px solid #100a6c;
    color: #100a6c;
    text-align: center;
  }
  .sale-details table tbody tr:first-child {
    height: 150px;
  }
  .sale-details table tr td:nth-child(1),
  .sale-details table tr th:nth-child(1) {
    border-left: 0;
  }
  .sale-details table thead th {
    border-bottom: 1px solid #100a6c;
    padding: 15px 0;
  }

  .invoice_wrapper footer {
    padding: 50px 50px 5px;
    text-align: right;
  }
  .Gtotal{
      text-align: right;
padding: 0 50px;
font-weight: bold;
  }